# Secrets
.env
**/.env
*.env

# OS
.DS_Store
Thumbs.db

# Java / Maven
target/
*.class
*.log
.mvn/
*.jar
*.war

# Node / JS
node_modules/
dist/
build/
.next/
coverage/
.npm/

# Python
__pycache__/
*.pyc
venv/
.venv/
env/
.pytest_cache/
