target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/
.loadpath
bin/

# IntelliJ Idea
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/

# Spring Boot
.env
tokens/
target/
*.jar
*.war
.mvn/
